
body {
background-image:  url("images/background.png");
background-size: cover;
  height: 100%;
  overflow: hidden;
}
#ChanceCounter{
background-color: Navy;
text-align: left;

padding: 20px;
}


#GameWindow{
text-align: center;
position: center;
background-color: SteelBlue;
border-color:SteelBlue;
border-style: double;
margin: 40px;
padding: 20px;
border-radius: 10px
}


td{

    padding: 10px;
    margin: 10px;
}   
.counter{
height: 30px;
width: 30px;
float: right;
}   
